---
import Layout from "../../layouts/Layout.astro";
import PageHero from "../../components/sections/PageHero.astro";
import { PortableText } from "astro-portabletext";
import { getAboutPage } from "../../utils/sanity";

const aboutPage = await getAboutPage("en");

if (!aboutPage) {
  return new Response("About page not found", { status: 404 });
}

const pageTitle = aboutPage.seo?.metaTitle || aboutPage.title || "About Quadball Canada";
---

<Layout title={pageTitle} alternate={{ en: "/about/", fr: "/fr/a-propos/" }} locale="en">
  <PageHero
    title={aboutPage.title}
    subtitle={aboutPage.subtitle}
    ctaText={aboutPage.heroCtaText}
    ctaHref={aboutPage.heroCtaHref}
  />
  <section style="padding: 3rem 0;">
    <PortableText value={aboutPage.content} />
  </section>
</Layout>
